.restrantodd {
    background-color: #ffffcc;
}
#header {
    background-color: #FCC800;
    text-align: center;
}
#copyright {
    text-align: center;
    background-color: #FCC800;
}
#mapcontrol {
    text-align: center;
}
#searchbox {
    text-align: center;
}
div.searchboxin {
    text-align: left;
}
body {
    font-size: small;
}
h1 {
    font-size: medium;
    font-weight: normal;
    color: #FFFFFF;
}
div.h2 {
    background-color: #89b8df;
}
h2 {
    font-size: small;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}
div.h3 {
    background-color: #FCC800;
}
h3 {
    font-size: small;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}
table {
    font-size: small;
}
th {
    font-weight: normal;
}
