[% IF c.form.has_error -%]
<div class="error message">
<ul>
[% FOR message IN c.form.messages('account/password_request') -%]
<li>[% message | html %]</li>
[% END -%]
</ul>
</div>
[% END -%]
<form method="POST">
<table>
<tr>
    <td> メールアドレス </td>
    <td><input type="text" name="mail"></td>
</tr>
    <td> </td>
    <td>
        <input type="hidden" name="_token">
        <input type="submit" name="request" value="パスワードをリセットする">
    </td>
</tr>
</table>
</form>
