[% META title="レビュー一覧" %]
<form method="GET">
<input type="text" name="name">
<input type="submit" value="レビューを検索">
</form>
<ul>
[% FOR item IN list %]
<li><a href="[% c.uri_for(item.id) %]">[% item.restrant.name %] by [% item.member.nickname %]</a>
</li>
[% END %]
</ul>
