<h2>[% address | html %]付近のお店情報</h2>
[% FOR item IN list %]
<div>
<a href="[% c.uri_for('restrant', item.id) %]">[% item.name %]</a>
<div class="tags">
[% FOR t IN item.tags %]
<span class="tag">[% t.value | html %]</span>
[% END %]
</div>
</div>
[% END %]
