<ul>
[% FOR item IN list %]
[% NEXT UNLESS item.value %]
[% r_rs = item.restrants_rs({}, {group_by => 'id'}) %]
<li><a href="[% c.uri_for('', item.id ) %]">[% item.value %]</a> ([% r_rs.count %])</li>
[% END %]
</ul>
