* {
    font-family: "Lucida Grande", Verdana, Arial, Geneva, sans-serif;
    line-height: 1.8em;
    font-weight: normal;
    size: 90%;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: [% site.rgb.soffritto %];
    border-bottom: 2px solid [% site.rgb.soffritto %];
    padding: 2px;
}


#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.rgb.grey2 %];
    padding: 10px;
}
#header div.menu {
    text-align: right;
}

#header div.menu li {
    display: inline;
    margin: 3px;
    list-style: none;
}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    padding: 4px;
    border-top: 1px solid [% site.rgb.grey2 %];
}

#content {
    padding: 10px;
}

h1 {
    float: left;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

div.message {
    border: 1px solid [% site.rgb.grey2 %];
    background-color: [% site.col.head %];
    text-align: center;
    padding: 4px;
    margin: 10px 50px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

form.login {
    margin: 60px;
}
