* {
    font-family: "Lucida Grande", Verdana, Arial, Geneva, sans-serif;
    line-height: 1.5em;
    font-weight: normal;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: [% site.rgb.soffritto %];
    border-bottom: 2px solid [% site.rgb.soffritto %];
    padding: 2px;
}


#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.rgb.grey2 %];
    padding: 10px;
}
#header div.menu {
    text-align: right;
}

#header div.menu li {
    display: inline;
    margin: 3px;
    list-style: none;
}

#footer {
    clear: both;
    background-color: [% site.col.head %];
    text-align: center;
    padding: 4px;
    border-top: 1px solid [% site.rgb.grey2 %];
}

#content {
    padding: 10px;
}

h1 {
    float: left;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

div.message {
    border: 1px solid [% site.rgb.grey2 %];
    background-color: [% site.col.head %];
    text-align: center;
    padding: 4px;
    margin: 10px 50px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

form {
    margin: 5px;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid [% site.rgb.grey2 %];
    padding: 4px;
}

table th {
    color: [% site.rgb.soffritto %];
    margin-left: 5px;
    text-align: right;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
}

table.data {
    width: 350px;
}

table.data th {
    width: 70px;
}

table.data textarea {
    width: 200px;
    font-size: 80%;
}

#map {
    float: right;
    margin: 0px;
    width: 550px;
    height: 400px;
}

#map * {
    line-height: 1em;
}
#map a {
    text-decoration: underline;
    color: [% site.rgb.soffritto %];
    border-bottom: 0px;
    padding: px;
}
#operation_hours {
    font-size: 80%;
}
label {
    font-size: 80%;
}

.week_input th, .week_input td {
    text-align: center;
    font-size: 80%;
    margin: 0px;
    padding: 0px;
}
