* {
    font-family: "Lucida Grande", Verdana, Arial, Geneva, sans-serif;
    line-height: 1.5em;
    font-weight: normal;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: [% site.rgb.soffritto %];
    border-bottom: 2px solid [% site.rgb.soffritto %];
    padding: 2px;
}


#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.rgb.grey2 %];
    padding: 10px;
}
#header div.menu {
    text-align: right;
}

#header div.menu li {
    display: inline;
    margin: 3px;
    list-style: none;
}

#footer {
    clear: both;
    background-color: [% site.col.head %];
    text-align: center;
    padding: 4px;
    border-top: 1px solid [% site.rgb.grey2 %];
}

#content {
    padding: 10px;
}

h1 {
    float: left;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

h2 {
    text-align: center;
}

div.info {
    text-align: center;
}

div.info .tel {
    font-size: 120%;
    color: [% site.rgb.red %];
}

div.message {
    border: 1px solid [% site.rgb.grey2 %];
    background-color: [% site.col.head %];
    padding: 4px;
    margin: 10px 50px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

ul.tags li {
    list-style-type: none;
    display: inline;
    white-space: nowrap;
}

.message li {
    list-style-type: none;
}

span.tag_candidate {
    font-size: 70%;
    padding: 2px;
    background-color: [% site.col.head %];
    border: 1px solid [% site.rgb.grey2 %];
}

div.review {
    width: 400px;
    margin: 10px;
    border: 1px solid [% site.rgb.grey2 %];
}
div.reviewer {
    padding: 5px;
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.rgb.grey2 %];
}
div.review-content {
    padding: 5px;
}

form {
    margin: 5px;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid [% site.rgb.grey2 %];
    padding: 4px;
}

table th {
    color: [% site.rgb.soffritto %];
    margin-left: 5px;
    text-align: right;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
}

table.data {
    width: 420px;
}

table.data th {
    width: 70px;
}

table.data textarea {
    width: 340px;
    height: 150px;
    font-size: 80%;
}
input.tag {
    width: 340px;
}

table.openhours {
    width: 400;
    margin: 10px;
}

table.openhours th {
    width: 15px;
    background-color: [% site.col.head %];
    text-align: center;
}

table.openhours td, table.openhours th {
    padding: 3px;
    border: 1px solid [% site.rgb.grey2 %];
}
table.openhours td.time,table.openhours th {
    white-space: nowrap;
}

div#map {
    float: left;
    margin: 0px;
    width: 500px;
    height: 400px;
}

#map * {
    line-height: 1em;
}
#map a {
    text-decoration: underline;
    color: [% site.rgb.soffritto %];
    border-bottom: 0px;
    padding: px;
}
#operation_hours {
    font-size: 80%;
}
label {
    font-size: 80%;
}

#data {
    margin: auto;
    width: 90%;
    min-width: 930px;
}

#leftcol {
    float: left;
    max-width: 450px;
}

.week_input th, .week_input td {
    text-align: center;
    font-size: 80%;
    margin: 0px;
    padding: 0px;
}

#content div.menu {
    clear: both;
    margin: 10px;
}
pre {
    padding: 4px;
    margin: 10px 50px;
    border: 1px solid [% site.rgb.grey2 %];
}
