[% META title="お店検索" %]
<form method="GET">
<input type="text" name="name">
<input type="submit" value="お店を検索">
→ <a href="[% c.uri_for('create') %]">新しいお店を登録する</a>
</form>
<table>
[% FOR r IN list %]
<tr>
    <td> <a href="[% c.uri_for(r.id) %]">[% r.name %]</a> </td>
    <td>[% r.address | html %]</td>
    <td> → <a href="[% c.uri_for('../review/update_or_create', { restrant_id => r.id }) %]">レビューを書く</a></td>
</tr>
[% END %]
</table>
